/***************************** // Navigation Bar // ***************************/
/* sets the navigation bar */
.navigate{
	/* width and height of the nav. bar before the hover */
	width: 12vw;
	height: 33vh;

	/* navigate edits*/
	color: black;
	transition-duration: 0.5s;

	/* position */
	z-index: 11;
	position: fixed;
	bottom: 2vw;
	right: 2vw;

	/* border settings*/
	border-radius: 25px 25px 25px 25px;
	border: 3px solid black;
	background-color: aliceblue;
	opacity: 0.5;
	transform: translateX(10vw);
}

/* affects the whole navigation bar when you hover over it */
.navigate:hover{ 
	opacity: 1;
	background-color: dimgrey;
	/* transforms in a vertical direction to the left */
	transform: translateX(0vw);

	/* width and height of the nav. bar when it hovers */
	width: 14.5vw;
	height: 33vh;
	bottom: 4vh;	
}

/* sets certain settings for all the tabs */
.tab {
	position: relative;

	/* transition from tab to being hovered over in 1/6 of */
	transition-duration: 0.6s;
	font-size: 1vw;

	/* color */
	color: black;

	/* remove underline */
	text-decoration: none;

	/* trancparentitcy */
	opacity: 0.5;

	/* stop the words from wrapping */
	white-space: nowrap;
	overflow: hidden;
}

/* affects all the tabs */
.tab:hover{	
	/*** text edits ***/
	/* Color of text shows as whitesmoke */
	color: whitesmoke;
	text-shadow: 0.2vw 0.2vh 9px white;

	/* box edits */
	box-shadow: 0vw 1vh 10px black;
	opacity: 1;

	/* transistion when hovering over */
	transition-duration: 0.5s; /* how long to transition */
	background-color: #444;
}

ul{
	/* get rid of bullet points and its space for all the li items */	
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* sets text alignment and prior padding when the li item is not hovered over */
li{
	/* padding of each list item */
	padding: 2vh 0vw 2vh 0vw;
	/* text edits */
	text-align: center;
}

.home {
	/* curverture of the corners */
	border-radius: 21px 21px 0px 0px;
	/* padding the home tab */
	padding: 3.5vh 4.4vw 3.5vh 4.4vw;
}
/* specific settings for the tab when being hovered over */
.home:hover {
	/* font size changes when hovered over */
	font-size: 1.3vw;
	padding: 2.2vh 5.6vw 2vh 5.6vw;
}


.one{
	/*padding for the first tab */
	padding: 3.5vh 2.3vw 3.5vh 2.3vw;
}
/* specific settings for the tab when being hovered over */
.one:hover{
	font-size: 1.3vw;
	padding: 2vh 2.3vw 2vh 2.3vw;
}


.two{
	/* padding for the second tab */
	padding: 3.5vh 0vw 3.5vh 0vw;
}
/* specific settings for the tab when being hovered over */
.two:hover{
	font-size: 1.13vw;
	padding: 2vh 0.5vw 2vh 0.5vw;
}


.three{
	/* padding for the third tab */
	padding: 3.5vh 2.4vw 3.5vh 2.4vw;
}
/* specific settings for the tab when being hovered over */
.three:hover{
	font-size: 1.3vw;
	padding: 2vh 2.4vw 2vh 2.4vw;
}


.four{
	/* padding for the fourth tab */
	padding: 3.5vh 2vw 2vh 2vw;
	/* the curverture of the bottom tab */
	border-radius: 0px 0px 23px 23px;
}
/* specific settings for the tab when being hovered over */
.four:hover{
	font-size: 1.3vw;
	padding: 2vh 2.4vw 2.6vh 2.4vw;
}
