/* imports */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Caveat');

/***************************** // Navigation Bar // ***************************/
/* sets the navigation bar */
.navigate{
	width: 12vw;
	height: 33vh;
	/* navigate edits*/
	color: black;
	transition-duration: 0.5s;
	/* position */
	z-index: 11;
	position: fixed;
	bottom: 10px;
	right:20px;
	/* border settings*/
	border-radius: 25px 25px 25px 25px;
	border: 3px solid black;
	background-color: aliceblue;
	opacity: 0.5;
	transform: translateX(10vw);
}

.navigate:hover{ /* affects the whole navigation bar when you hover over it */
	opacity: 1;
	background-color: dimgrey;
	transform: translateX(0vw);
	width: 14.5vw;
	height: 33vh;
	bottom: 2vh;
}

/* sets certain settings for all the tabs */
.tab {
	/* transition from tab to being hovered over in 1/6 of */
	transition-duration: 0.6s;
	font-size: 2vh;
	/* color */
	color: black;
	/* remove underline */
	text-decoration: none;
	/* trancparentitcy */
	opacity: 0.5;

	/* stop the words from wrapping */
	white-space: nowrap;
	overflow: hidden;

}

ul{  /* get rid of bullet points and its space for all the li items */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* sets text alignment and prior padding when the li item is not hovered over */
li{
	/* padding of each list item */
	padding: 2vh 0em 2vh 0em;
	/* text edits */
	text-align: center;
}

.home {
	/* curverture of the corners */
	border-radius: 21px 21px 0px 0px;
	/* padding the home tab */
	padding: 3.5vh 4.4vw 3.5vh 4.4vw;
}

/* specific settings for the tab when being hovered over */
.home:hover {
	/* font size changes when hovered over */
	font-size: 2.5vh;
	padding: 2vh 5.7vw 2vh 5.7vw;
}

.one{
	/*padding for the first tab */
	padding: 3.5vh 2.3vw 3.5vh 2.3vw;
}

/* specific settings for the tab when being hovered over */
.one:hover{
	font-size: 2.5vh;
	padding: 2vh 2.4vw 2vh 2.4vw;
}

.two{
	/* padding for the second tab */
	padding: 3.5vh 0vw 3.5vh 0vw;
}

/* specific settings for the tab when being hovered over */
.two:hover{
	font-size: 2.5vh;
	padding: 2vh 0vw 2vh 0vw;
}

.three{
	/* padding for the third tab */
	padding: 3.5vh 2.4vw 3.5vh 2.4vw;
}

/* specific settings for the tab when being hovered over */
.three:hover{
	font-size: 2.5vh;
	padding: 2vh 2.4vw 2vh 2.4vw;
}

.four{
	/* padding for the fourth tab */
	padding: 3.5vh 2vw 2vh 2vw;
	/* the curverture of the bottom tab */
	border-radius: 0px 0px 21px 21px;
}
/* specific settings for the tab when being hovered over */
.four:hover{
	font-size: 2.5vh;
	padding: 2vh 2.4vw 2.7vh 2.4vw;
}

/* affects all the tabs */
.tab:hover{
	transform: translate(1);
	/* text edits */
	/* Color of text shows as whitesmoke */
	color: whitesmoke;
	text-shadow: 0.2vw 0.2vh 9px white;
	/* box edits */
	box-shadow: 0px 2vh 10px black;
	opacity: 1;
	/* transistion when hovering over */
	transition-duration: 0.5s;
	/* color changes to ... */
	background-color: #444;
}

/********************* // story // ********************/

.story{
	top: 0;
	left: 0;
	position: absolute;

	font-family: 'Caveat', cursive;
	font-size: 4vh;
}

/*** // header // ***/
.title{
	text-align: center;

	top: 0vh;
	width: 100%;
	margin-top: -10vh;
}

h1{
	font-family: 'Amatic SC', cursive;
	font-size: 10vh;
	color: aliceblue;
	text-shadow: 1vw 1vh 5px black;

	padding: 45vh 0vw 47vh 0vw;

	background-image: url("../Photos/Story%202/his%20wall.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

/*** // box one // ***/
.p_one{
	background-image: url("../Photos/Story%202/nightmare.jpeg");
	background-color: #746007;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;

	margin-top: -7vh;
}

.txt_one{
	color: aliceblue;
	width: 45%;
	padding: 7vh 2vw 7vh 2vw;
}

/*** // box two // ***/
.p_two{
	background-image: url("../Photos/Story%202/room.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	background-size: 45%;

	margin-top: -4vh
}

.txt_two{
	padding: 7vh 2vw 7vh 2vw;
	width: 45%;
	position: relative;
	left: 50%;
}

/* // box three // ***/
.p_three{
	background-color: bisque;
	background-image: url("../Photos/Story%202/knob.png");
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 80%;

	margin-top: -4vh
}

.txt_three{
	padding: 7vh 2vw 7vh 2vw;
	width: 45%;
	position: relative;
	left: 50%;

}

/*** // box four // ***/
/* animates to "fly" */
@keyframes fly{
	0%{
		opacity: 0;
		margin-top: 40vh;
	}
	3%{
		opacity: 1;
		margin-top: 48;
	}
	40%{
		opacity: 1;
		margin-top: 28;
		margin-left: 10vw;
	}
	75%{
		opacity: 0;
		margin-left: 14vw;
		margin-top: -5vh;
	}
	100%{
		opacity: 0;
	}
}

/*** // bubble // ***/
.bubble{
	position: absolute;
	left: 10vw;
	width: 20%;
	margin-top: 30vh;

	animation: fly 5s linear infinite;
}

.p_four{
	background-color: #71c4ea;

	margin-top: -4vh;
}

.txt_four{
	padding: 7vh 2vw 7vh 2vw;
}

/*** // box five // ***/
.p_five{
	background-color: #a2739d;
	background-image: url("../Photos/Story%202/mirror.jpeg");
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	background-size: 45%;

	margin-top: -4vh;
	padding-bottom: 1vh;
}

.txt_five{
	padding: 7vh 2vw 7vh 2vw;
	width: 45%;
}