/* imports */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Caveat');

/********************* // story // ********************/

.story{
	top: 0;
	left: 0;
	position: absolute;

	font-family: 'Caveat', cursive;
	font-size: 4vh;
}

/*** // header // ***/
.title{
	text-align: center;

	top: 0vh;
	width: 100%;
	margin-top: -10vh;
}

h1{
	font-family: 'Amatic SC', cursive;
	font-size: 10vh;
	color: aliceblue;
	text-shadow: 1vw 1vh 5px black;

	padding: 45vh 0vw 47vh 0vw;

	background-image: url("../Photos/Story%202/his%20wall.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

/*** // box one // ***/
.p_one{
	background-image: url("../Photos/Story%202/nightmare.jpeg");
	background-color: #746007;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;

	margin-top: -7vh;
}

.txt_one{
	color: aliceblue;
	width: 45%;
	padding: 7vh 2vw 7vh 2vw;
}

/*** // box two // ***/
.p_two{
	background-image: url("../Photos/Story%202/room.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	background-size: 45%;

	margin-top: -4vh
}

.txt_two{
	padding: 7vh 2vw 7vh 2vw;
	width: 45%;
	position: relative;
	left: 50%;
}

/* // box three // ***/
.p_three{
	background-color: bisque;
	background-image: url("../Photos/Story%202/knob.png");
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 80%;

	margin-top: -4vh
}

.txt_three{
	padding: 7vh 2vw 7vh 2vw;
	width: 45%;
	position: relative;
	left: 50%;

}

/*** // box four // ***/
/* animates to "fly" */
@keyframes fly{
	0%{
		opacity: 0;
		margin-top: 40vh;
	}
	3%{
		opacity: 1;
		margin-top: 48;
	}
	40%{
		opacity: 1;
		margin-top: 28;
		margin-left: 10vw;
	}
	75%{
		opacity: 0;
		margin-left: 14vw;
		margin-top: -5vh;
	}
	100%{
		opacity: 0;
	}
}

/*** // bubble // ***/
.bubble{
	position: absolute;
	left: 10vw;
	width: 20%;
	margin-top: 30vh;

	animation: fly 5s linear infinite;
}

.p_four{
	background-color: #71c4ea;

	margin-top: -4vh;
}

.txt_four{
	padding: 7vh 2vw 7vh 2vw;
}

/*** // box five // ***/
.p_five{
	background-color: #a2739d;
	background-image: url("../Photos/Story%202/mirror.jpeg");
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	background-size: 45%;

	margin-top: -4vh;
	padding-bottom: 1vh;
}

.txt_five{
	padding: 7vh 2vw 7vh 2vw;
	width: 45%;
}
