/*** // imports // ***/
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/********************** // story // **********************/
.story{
	overflow-x: hidden;
	overflow-y: hidden;
	top: 0;
	left: 0;
	position: absolute;

	font-family: 'Nanum Pen Script', cursive;
	font-size: 5vh;
}

/*** // header // ***/
.title{
	text-align: center;
	width: 100%;
	margin-top: -10vh;
}

h1{
	font-family: 'Caveat Brush', cursive;
	color: #eb662d;
	text-shadow: 1vw 1vh 5px black;
	font-size: 10vh;

	padding: 45vh 0vw 47vh 0vw;

	background-image: url("../Photos/Story%203/firecandle.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

/* // box one // */
.p_one{
	background-color: saddlebrown;
	background-image: url("../Photos/Story%203/mag.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 45%;

	margin-top: -7vh;
}

.txt_one{
	position: relative;
	color: black;
	width: 45%;
	padding: 1vh 2vw 7vh 2vw;
}

.txt_one2{
	position: relative;
	color: aliceblue;
	width: 30%;
	margin-top: -17vh;
	padding: 0vh 2vw 0vh 2vw;
	left: 65%;
}

/* // box two // */
.p_two{
	background-color: #d6ec8a;
	background-image: url("../Photos/Story%203/pre-look.jpeg");
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 47%;


	margin-top: -5vh;
}

.txt_two{
	padding: 7vh 0vw 15vh 2.5vw;
	position: relative;
	left: 46%;
	width: 50%;
}

/* // box three // */
.p_three{
	background-color: #d6ec8a;
	background-image: url("../Photos/Story%203/table.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	margin-top: -5vh;
	min-height: 45vh;
}

.txt_three{
	position: relative;
	left: 4vw;
	padding: 7vh 2vw 7vh 2vw;
	text-shadow: 0.2vw 0.2vh 6px white;
	width: 90%;
}

/* // box four // */
.p_four{
	background-image: url("../Photos/Story%203/family.jpg");
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 30%;

	margin-top: -5vh;

}

.txt_four{
	padding: 10vh 2vw 0vh 2vw;
	position: relative;
	width: 45%;
}

.txt_four2{
	padding: 0vh 2vw 0vh 2vw;
	position: relative;
	width: 40%;
	left: 58%;
	margin-top: -60vh;
}

/* // box five // */
.p_five{
	background-color: #855002;

	background-image: url("../Photos/Story%203/buisness.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	background-size: 45%;

	margin-top: -5vh;
}

.txt_five{
	color: aliceblue;
	padding: 7vh 2vw 7vh 2vw;

	position: relative;
	width: 45%;
	left: 50%;
	text-shadow: 0.1vw 0.1vh 1px black;
}

/* // box six // */
.p_six{
	background-color: burlywood;
	background-image: url("../Photos/Story%203/chains.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	margin-top: -5vh;

}

@keyframes shade{
	0%{
		text-shadow: 1vw 1vh 2px white;
	}
	40%{
		text-shadow: 1vw 1vh 5px;
	}
}

.txt_six{
	color: aliceblue;
	padding: 7vh 2vw 7vh 2vw;
	text-shadow: 1vw 1vh 6px black;

	position: relative;
}

.txt_six2{
	text-align: center;
	animation: shade 3s linear infinite;
}

/*** // box seven // ***/
.p_seven{
	background-color: antiquewhite;
	background-image: url("../Photos/Story%203/door.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	background-size: 60%;
	margin-top: -5vh

}

.txt_seven{
	padding: 7vh 2vw 7vh 2vw;
	width: 45%;
	position: relative;
	left: 50%;
}

/*** // box eight // ***/
.p_eight{
	background-color: #b0beff;
	background-image: url("../Photos/Story%203/the_daily.jpeg");
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;
	background-size: 55%;

	margin-top: -5vh;
}

.txt_eight{
	width: 45%;
	padding: 7vh 2vw 7vh 2vw;

}

/*** // box nine // ***/
.p_nine{
	background-image: url("../Photos/Story%203/blossom.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 110vh;

	margin-top: -5vh;
	margin-bottom: -10vh;
}

.txt_nine{
	width: 50%;
	position: relative;
	left: 45%;
	padding: 25vh 2vw 7vh 2vw;
	text-shadow: 0.1vw 0.1vh 6px white;
}
