/* imports */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/******************* //body// *******************/
body {
	overflow-x: hidden;
	background-color: white	;
}

/************************************ // Story // ********************************************/
.story{
	position: absolute;
	top: 0;
	left: 0;

	/* font edits */
	font-family: 'Indie Flower', cursive;
	font-size: 2vw;
}

/*********************************** // header // ***************************/
.title{
	background-color: aliceblue;
	text-align: center;

	position: relative;
	top: 0vh;
	left: 0;
	width: 100%;
	margin-top:-10vh;
}

h1{
	color: aliceblue;
	font-family: 'Permanent Marker', cursive;
	font-size: 5vw;
	text-shadow: 1vw 1vh 5px black;

	padding: 45vh 0vw 45vh 0vw;

	/* background settings and position */	
	background-image: url("../Photos/Story%201/bright_bw.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}

/* //box one// */
.p_one{
	position: relative;
	margin-top: -6.9vh;
	min-height: 80vh;;
	padding: 12vh 2vw 11vh 2vw;

	/* background settings and position */
	background-image: url("../Photos/Story%201/sun.png");
	background-color: skyblue;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}

.txt_one{
	margin-top: 5vh;
	margin-bottom: 2vh;
	width: 50%;
	position: absolute;
	left: 48%;
	text-align: left;
}

/* // box two // */
.p_two{
	margin-top: -15vh;
	/* background settings and position */
	background-image: url("../Photos/Story%201/Discovery1.jpeg");
	background-size: 45%;
	background-position: right;
	background-repeat: no-repeat;
	background-attachment: fixed;

	min-height: 50vh;
}

.txt_two{
	width: 50%;
	padding: 15vh 2vw 1vh 2vw;
}

/* // box three // */
.p_three{
	/* background settings and position */	
	background-image: url("../Photos/Story%201/lie.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;

	color: wheat;
	margin-top: -3.9vh;

}

.txt_three{
	padding: 7vh 2vw 1vh 2vw;
}

/* // box four // */

@keyframes fly{
	0%{ 
		left: -20%; 
	}
	40%{
		margin-top: 35vh;
		left: 40%;
	}
	100%{
		margin-top: 40vh;
		left: 100%;
	}
}

.plane{
	position: absolute;
	margin-top: 40vh;
	width: 20%;

	animation: fly 4s linear infinite;
}

@keyframes fly_rev{
	0%{
		right: 100%;
	}
	40%{
		margin-top: 140vh;
		right: 50%;
	}
	100%{
		margin-top: 145vh;
		right: -20%;
	}
}

.plane_2{
	right: 0;
	position: absolute;
	margin-top: 145vh;
	width: 20%;

	animation: fly_rev 4s linear infinite;
	animation-direction: reverse;
}

.p_four{
	/* background settings and position */
	background-color: #70dbff;
	background-image: url("../Photos/Story%201/Travel2.jpeg");
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
	background-size: 43%;

	margin-top: -4vh;
}

.txt_four{
	padding: 7vh 2vw 7vh 2vw;
	width: 50%;

	position: relative;
	left: 43%;
}

/* // box five // */
.p_five{
	/* background settings and position */
	background-image: url("../Photos/Story%201/scared.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	
	margin-top: -4vh;
}

.txt_five{
	position: relative;	
	color: aliceblue;
	padding: 10vh 5vw 10vh 5vw;
}

/* // box six // */
.p_six{
	/* background settings and position */	
	background-color: #7374c4;
	background-image: url("../Photos/Story%201/Bed3.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
	background-size: 50%;

	margin-top: -4vh;
}

.txt_six{
	position: relative;
	left: 1vw;
	padding: 10vh 3vw 7vh 2vw;
	width: 45%;
}

/* // box seven // */
.p_seven{
	/* background settings and position */		
	background-image: url("../Photos/Story%201/cap_gown.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;

	margin-top: -4vh;
	padding-bottom: 7vh;
	min-height: 100vh;
}

.txt_seven{
	position: relative;
	left: 35%;
	color: wheat;

	padding: 30vh 3vw 7vh 3vw;
	text-shadow: 0.1vw 0.1vh 5px;
	width: 50%;
}
