/* imports */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Bangers');

/************************************ // story // *****************************/
.story{
	top: 0;
	left: 0;
	position: absolute;

	font-family: 'Permanent Marker', cursive;
	font-size: 4vh;
}

/* // header // */
.title{
	text-align: center;

	top: 0;
	width: 100%;
	margin-top: -10vh;
}

h1{
	/* font edits */
	color: aliceblue;
	text-shadow: 1vw 1vh 9px black;
	font-family: 'Bangers', cursive;
	font-size: 10vh;

	padding: 45vh 0vw 45vh 0vw;
	/* background settings */
	background-image: url("../Photos/Story%204/branch.JPG");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	min-height: 30vh;

}

/*** // box one // ***/
.p_one{
	/* background settings */
	background-image: url("../Photos/Story%204/branch.JPG");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;

	margin-top: -7vh;

}

.txt_one{
	color: aliceblue;
	text-shadow: 0.2vw 0.2vh 1px black;
	padding: 7vh 2vw 7vh 2vw;
}

/*** // box two // ***/
.p_two{
	background-color: #010028;
	background-image: url("../Photos/Story%204/stars.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 80%;

	margin-top: -4vh;
}

.txt_two{
	padding: 7vh 2vw 7vh 2vw;

	position: relative;
	left: 45%;
	width: 50%;
	color: aliceblue;
}

/*** // box three // ***/
.p_three{
	/* background settings */
	background-color: antiquewhite;
	background-image: url("../Photos/Story%204/table.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 60%;

	margin-top: -4vh;
}

.txt_three{
	padding: 7vh 2vw 7vh 2vw;
	width: 50%;
}

/*** // box four // ***/
.p_four{
	background-image: url("../Photos/Story%204/doc.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 45%;

	margin-top: -4vh;
}

.txt_four{
	width: 45%;
	position: relative;
	left: 50%;
	padding: 7vh 2vw 7vh 2vw;
	text-shadow: 0.2vw 0.2vh 6px yellow;
}

/*** // box five // ***/
.p_five{
	/* background setting */
	background-color: #1c0d72;
	background-image: url("../Photos/Story%204/thoughts.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	background-size: 50%;

	margin-top: -4vh;
}

.txt_five{
	color: aliceblue;
	width: 45%;
	position: relative;
	left: 50%;
	padding: 7vh 2vw 7vh 2vw;
	text-shadow: 0.2vw 0.2vh 1px black;

}

/*** // box six // ***/
.txt_six{
	padding: 7vh 2vw 7vh 2vw;
}

@keyframes glow{
	0%{text-shadow: 0vw 0vh 0px}
	40%{text-shadow: 0.2vw 0.2vh 6px black}
}

.txt_six2{
	animation: glow 2s linear infinite;
}

/*** // box seven // ***/
.p_seven{
	background-color: black;
	background-image: url("../Photos/Story%204/tear.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	background-size: 40%;

	margin-top: -4vh;
}

.txt_seven{
	color: aliceblue;
	padding: 7vh 2vw 7vh 2vw;
	text-shadow: 0.2vw 0.2vh 6px white;
	width: 40%;
	position: relative;
	left: 52%;
}

/*** // box eight // ***/
.p_eight{
	overflow: hidden;
	background-color: azure;
	margin-top: -4vh;
	margin-bottom: -10vh;
}

.txt_eight{
	padding: 7vh 2vw 7vh 2vw;
}

.txt_eight2{
	padding: 7vh 2vw 7vh 2vw;
	position: relative;
	left: 10%;
}

.txt_eight3{
	padding: 7vh 2vw 15vh 2vw;
	position: relative;
	left: 55%;
}
